@{
    ViewData["Title"] = "Home Page";
}
<style>
body {
       color:snow;
       background-image: url("https://i.ibb.co/h10jKh0/novapoz.png"); 
       height: 100%; 
       background-position: center; background-repeat: no-repeat; background-size: cover; }
</style>

<div class="text-center">
    <br />
    <h2><b><i>Bezbjedno slanje ljubimaca u svemir</i></b></h2>
    <p><i>Ne možete Vi, ali zato Vaša mačka može!</i></p>
</div>
<img style="height:20em" src="https://i.ibb.co/bBFyWZq/Log2o.png" />
