@model IEnumerable<SpaceCat.Utisak>

@{
    ViewData["Title"] = "Index";
}




<table class="table">
   
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocjena)
            </td>
            
        </tr>
}
    </tbody>
</table>
