@model IEnumerable<SpaceCat.Faq>

@{
    ViewData["Title"] = "Index";
}

<style>
    body {
        color: snow;
        background-image: url("https://i.ibb.co/h10jKh0/novapoz.png");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .button1 {
        border: 1px solid #aaa;
        text-decoration: none;
        font-family: Arial;
        color: black;
        padding: 1px 6px;
        font-size: 13px;
        background: #eee;
    }

    .button1:hover {
        background: #D0F5F4;
    }
    

</style>
<div class="text-center">
    <h1>Faq</h1>
</div>
<div class="text-center">
    <table>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <h2>
                            @Html.DisplayFor(modelItem => item.Pitanje)
                        </h2>
                    </td>



                </tr>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Odgovor)
                    </td>
                </tr>

            }
        </tbody>
    </table>
    <br />
    <a asp-area="" asp-controller="Utisak" asp-action="Index" class="button1" style="background-color:gray" text-decoration: none>Utisci</a>
</div>

