@model SpaceCat.Macka

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Macka</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="KorisnickoIme" class="control-label"></label>
                <input asp-for="KorisnickoIme" class="form-control" />
                <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lozinka" class="control-label"></label>
                <input asp-for="Lozinka" class="form-control" />
                <span asp-validation-for="Lozinka" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImeVlasnika" class="control-label"></label>
                <input asp-for="ImeVlasnika" class="form-control" />
                <span asp-validation-for="ImeVlasnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImeMacke" class="control-label"></label>
                <input asp-for="ImeMacke" class="form-control" />
                <span asp-validation-for="ImeMacke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Drzava" class="control-label"></label>
                <input asp-for="Drzava" class="form-control" />
                <span asp-validation-for="Drzava" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pol" class="control-label"></label>
                <select asp-for="Pol" class="form-control"></select>
                <span asp-validation-for="Pol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DobMacke" class="control-label"></label>
                <input asp-for="DobMacke" class="form-control" />
                <span asp-validation-for="DobMacke" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ZdravaMacka" /> @Html.DisplayNameFor(model => model.ZdravaMacka)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Slika" class="control-label"></label>
                <input asp-for="Slika" class="form-control" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Paket" class="control-label"></label>
                <select asp-for="Paket" class="form-control"></select>
                <span asp-validation-for="Paket" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Odabrana" /> @Html.DisplayNameFor(model => model.Odabrana)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="OdabranaRanije" /> @Html.DisplayNameFor(model => model.OdabranaRanije)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="VjerovatnocaOdabira" class="control-label"></label>
                <input asp-for="VjerovatnocaOdabira" class="form-control" />
                <span asp-validation-for="VjerovatnocaOdabira" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Kompetentna" /> @Html.DisplayNameFor(model => model.Kompetentna)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

